<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :question_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :question_description %>
  </div>

  <div class="field">
    <%= form.label :asked_by %>
    <%= form.number_field :asked_by, id: :question_asked_by %>
  </div>

  <div class="field">
    <%= form.label :upvotes %>
    <%= form.number_field :upvotes, id: :question_upvotes %>
  </div>

  <div class="field">
    <%= form.label :downvotes %>
    <%= form.number_field :downvotes, id: :question_downvotes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
