<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>


<div id="main_div" style="width:100%;">
<div style="margin:20px auto;">
  <h2>Notice Board</h2>

  <% @notice_boards.each do |nb|%>
            <div class="note">
            <div class="note_cnt">

          <%= form_tag notice_board_path(nb),:method=>:put do%>

            <textarea class="title" placeholder="Enter note title" name="notice_board[name]"><%= nb.name%></textarea>
            <textarea class="cnt" placeholder="Enter note description here" name="notice_board[description]"><%= nb.description%></textarea>
            <%= submit_tag "Submit",id: "submit_#{nb.id}",style: "display:none;"%>
            <a><i class="glyphicon glyphicon-ok" onClick=$("#submit_<%= nb.id%>").click();></i></a>

          <% end%>
                      </div>
          </div>  
  <% end%>
  </div>
</div>


<script type="text/javascript">
    $('i.glyphicon').click(function(){ $('#my_form').submit()});
</script>


