
<p>
  <strong>User:</strong>
  <%= @notice_board.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @notice_board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @notice_board.description %>
</p>

<%= link_to 'Edit', edit_notice_board_path(@notice_board) %> |
<%= link_to 'Back', notice_boards_path %>
