<%= form_with(model: question_suggestion, local: true) do |form| %>
  <% if question_suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_suggestion.errors.count, "error") %> prohibited this question_suggestion from being saved:</h2>

      <ul>
      <% question_suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :suggestion_by %>
    <%= form.number_field :suggestion_by, id: :question_suggestion_suggestion_by %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :question_suggestion_text %>
  </div>

  <div class="field">
    <%= form.label :upvotes %>
    <%= form.number_field :upvotes, id: :question_suggestion_upvotes %>
  </div>

  <div class="field">
    <%= form.label :downvotes %>
    <%= form.number_field :downvotes, id: :question_suggestion_downvotes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
