<p id="notice"><%= notice %></p>

<h1>Question Suggestions</h1>

<table>
  <thead>
    <tr>
      <th>Suggestion by</th>
      <th>Text</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_suggestions.each do |question_suggestion| %>
      <tr>
        <td><%= question_suggestion.suggestion_by %></td>
        <td><%= question_suggestion.text %></td>
        <td><%= question_suggestion.upvotes %></td>
        <td><%= question_suggestion.downvotes %></td>
        <td><%= link_to 'Show', question_suggestion %></td>
        <td><%= link_to 'Edit', edit_question_suggestion_path(question_suggestion) %></td>
        <td><%= link_to 'Destroy', question_suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Suggestion', new_question_suggestion_path %>
