<p id="notice"><%= notice %></p>

<p>
  <strong>Suggestion by:</strong>
  <%= @question_suggestion.suggestion_by %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question_suggestion.text %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @question_suggestion.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @question_suggestion.downvotes %>
</p>

<%= link_to 'Edit', edit_question_suggestion_path(@question_suggestion) %> |
<%= link_to 'Back', question_suggestions_path %>
