<%= form_with(model: answer_comment, local: true) do |form| %>
  <% if answer_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer_comment.errors.count, "error") %> prohibited this answer_comment from being saved:</h2>

      <ul>
      <% answer_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment_by %>
    <%= form.number_field :comment_by, id: :answer_comment_comment_by %>
  </div>

  <div class="field">
    <%= form.label :answer_id %>
    <%= form.number_field :answer_id, id: :answer_comment_answer_id %>
  </div>

  <div class="field">
    <%= form.label :upvotes %>
    <%= form.number_field :upvotes, id: :answer_comment_upvotes %>
  </div>

  <div class="field">
    <%= form.label :downvotes %>
    <%= form.number_field :downvotes, id: :answer_comment_downvotes %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :answer_comment_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
