
<h1>Answer Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment by</th>
      <th>Answer</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_comments.each do |answer_comment| %>
      <tr>
        <td><%= answer_comment.comment_by %></td>
        <td><%= answer_comment.answer_id %></td>
        <td><%= answer_comment.upvotes %></td>
        <td><%= answer_comment.downvotes %></td>
        <td><%= answer_comment.comment %></td>
        <td><%= link_to 'Show', answer_comment %></td>
        <td><%= link_to 'Edit', edit_answer_comment_path(answer_comment) %></td>
        <td><%= link_to 'Destroy', answer_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer Comment', new_answer_comment_path %>
