<%= form_for @suggestion,url: suggestion_path(@suggestion),method: :put  do |form| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :suggestion_name,placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.text_area :text, id: :suggestion_text,'data-provide': "markdown",rows: "10" %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>
$("#suggestion_text").markdown({autofocus:false})
</script>


