
    <!-- Main -->
      <section id="main" class="wrapper style1 main_section">
        <header class="major main_header">
          <div class="pull-left">
            <h2 style="margin:5px !important"><%= link_to @suggestion.name,suggestion_path(:id=>@suggestion.id ) %></h2>
            
          </div>
          <div class="pull-right">
            <%= link_to "Back",suggestions_path %>
          </div>
          <div style="clear:both;color: grey;">
            Suggested By : <%= @suggestion.owner.email %> 
            <% if can? :update, @suggestion %>
                |  <%= link_to "Change", edit_suggestion_path(:id => @suggestion.id) %> 
            <% end %>

            <% if can? :delete, @suggestion %>
                |  <%= link_to "Delete", suggestion_path(:id => @suggestion.id),:method=>:delete, :confirm => "Are you sure?" %> 
            <% end %>


          </div>
        </header>

        <div class="container">
          <div class="row side">
            <div class="2u side_small" >
              <section class="recommend">
                <h3>Other</h3>
                <ul class="alt">
                  <% @suggestions.each do |suggestion| %>
                    <li><%= link_to suggestion.name,suggestion_path(:id => suggestion.id )%></li>
                  <% end%>
                </ul>
              </section>
            </div>

            <div class="8u skel-cell-important markdown">
              <section>
                <h2></h2>
                <p><%= markdown(@suggestion.text) %></p>
              </section>
              <hr />
              <h3>Comments</h3>
              <div id="comments">
                <% @comments.each do |comment|%>
                  <section id="comment_<%= comment.id%>">
                    <h2></h2>
                    <p><%= markdown(comment.text) %></p>
                    <p>-<%= comment.owner.name_or_email %> | <%= comment.updated_at.strftime("%H:%M  |  %d %B")%> 
                      <% if can? :update, comment %>
                       | <%= link_to "Change", edit_suggestion_comment_path(:suggestion_id=>@suggestion.id,:id=>comment.id) %>
                      <% end %>

                      <% if can? :delete, comment %>
                       | <%= link_to "Delete", suggestion_comment_path(:suggestion_id=>@suggestion.id,id: comment.id), :method=>:delete, :remote=>true, :confirm => "Are you sure?" %>
                      <% end %>
                    <hr />

                  </section>
                <% end%>
              </div>
              <div class="paginate"> 
                  <%= will_paginate @comments %>
              </div>
            <hr />
            <%= form_for @suggestion.comments.build,url: suggestion_comments_path(suggestion_id: @suggestion.id),method: :post,remote: true do |f|%>
                <div class="field">
                    <%= f.text_area :text, id: :comment_text,'data-provide': "markdown",rows: "5",placeholder: "Type your comment here" %>
                </div>
                <div class="field">
                    <%= f.submit "Submit" %>
                </div>
            <% end%>
            </div>
          </div>
          <hr class="major" />
        </div>
      </section>

<script type="text/javascript">
  $("#comment_text").markdown({autofocus:false})
</script>

